extends layout

block content
  h1= title
  div= error
  div
    form(action="/login", method="POST")
      p email :
        input.form-control(name="email", type="text")
      p Password :
        input.form-control(name="password", type="password")
      p
        button.btn.btn-lg.btn-primary.btn-block(type="submit") Log in
  div
    form(action="/signup", method="POST")
      p email :
        input.form-control(name="email", type="text")
      p Username :
        input.form-control(name="name", type="text")
      p Password :
        input.form-control(name="password", type="password")
      p
        button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign up